<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293053743528-ukac83e09vrtpl75sfkl7r9alrie88ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293053743528-ukac83e09vrtpl75sfkl7r9alrie88ut</string>
	<key>API_KEY</key>
	<string>AIzaSyA47YgCgzymKthzzFT-sZT3w2mGsdyXAKY</string>
	<key>GCM_SENDER_ID</key>
	<string>293053743528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EmojibleIOS.EmojibleIOS.COMP491</string>
	<key>PROJECT_ID</key>
	<string>emojible-be1c2</string>
	<key>STORAGE_BUCKET</key>
	<string>emojible-be1c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293053743528:ios:6749d29443228094addd9d</string>
	<key>DATABASE_URL</key>
	<string>https://emojible-be1c2.firebaseio.com</string>
</dict>
</plist>